<!-- Widget Add modal {{{ -->
<div id="modal-mgFormEditor-add" class="modal fade">
	<div class="modal-dialog" style="width: 50%">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
				<h4 class="modal-title">Add Widget</h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-md-3">
						<ul class="nav nav-pills nav-stacked">
							<li ng-repeat="cat in $ctrl.categories" ng-class="cat == $ctrl.category && 'active'" ng-click="$ctrl.category = cat">
								<a>{{cat}}</a>
							</li>
						</ul>
					</div>
					<div class="col-md-9">
						<a ng-click="$ctrl.widgetAddSubmit({type: widget.id})" ng-repeat="widget in $ctrl.$macgyver.widgets | mgFilterObject:{userPlaceable:true, category: $ctrl.category} track by widget.id" class="col-md-4 pad-top-sm">
							<div class="btn btn-default btn-xlg btn-block text-center">
								<div><i ng-class="widget.icon" class="fa-4x"></i></div>
								<div class="pad-top-sm">{{widget.title}}</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- }}} -->

<!-- Widget Edit modal {{{ -->
<div id="modal-mgFormEditor-edit" class="modal fade">
	<div class="modal-dialog pull-right">
		<div class="modal-content">
			<div class="modal-header">
				<a class="close" data-dismiss="modal"><i class="fa fa-times"></i></a>
				<h4 class="modal-title">Edit Widget {{$ctrl.widgetName}}</h4>
			</div>
			<div class="modal-body form-horizontal">
				<mg-form config="$ctrl.selectedWidgetForm" data="$ctrl.selectedWidgetData"></mg-form>
			</div>
			<div class="modal-footer">
				<div class="pull-left">
					<a ng-click="$ctrl.widgetDelete()" type="button" class="btn btn-danger" data-dismiss="modal"><i class="fa fa-trash"></i> Delete</a>
				</div>
				<div class="pull-right">
					<a type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-check"></i> Save &amp; Close</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- }}} -->

<!-- Form editing hover mask {{{ -->
<div class="mgFormEditor-mask">
	<div class="mgFormEditor-mask-background"></div>
	<div class="mgFormEditor-mask-buttons btn-group">
		<div ng-if="!$ctrl.isInserter" class="mgFormEditor-mask-buttons-left">
			<div class="btn-group">
				<a ng-repeat="button in $ctrl.verbs.buttonsLeft" ng-click="$ctrl.verbAction(button)" ng-class="button.class">
					<i ng-class="button.icon"></i>
				</a>
				<a ng-if="$ctrl.selectedWidget" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-h"></i></a>
				<ul class="dropdown-menu">
					<li ng-repeat="verb in $ctrl.verbs.dropdown" ng-class="verb.title == '-' ? 'divider' : ''">
						<a ng-if="verb.title != '-'" ng-click="$ctrl.verbAction(verb)">
							<i ng-class="verb.icon"></i>
							{{verb.title}}
						</a>
					</li>
				</ul>
			</div>
		</div>
		<div ng-if="!$ctrl.isInserter" class="mgFormEditor-mask-buttons-right">
			<a ng-repeat="button in $ctrl.verbs.buttonsRight" ng-click="$ctrl.verbAction(button)" ng-class="button.class">
				<i ng-class="button.icon"></i>
			</a>
		</div>
	</div>
</div>
<!-- }}} -->

<mg-form config="$ctrl.config" data="$ctrl.data"></mg-form>
