/* Hover mask {{{ */
@keyframes mgFormMoveMask { from { background-position: 0; } to { background-position: 140px; } }

mg-form-editor .mgFormEditor-mask {
	position: fixed;
	z-index: 100;
	border-radius: 5px;
	border: 3px solid #5662a8;

	/* Start offscreen */
	left: -10000px;
	top: -10000px;
	width: 0px;
	height: 0px;
}

mg-form-editor .mgFormEditor-mask > .mgFormEditor-mask-background {
	cursor: pointer;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	animation: mgFormMoveMask 5s linear 0s infinite;
	opacity: 0.3;
	background: repeating-linear-gradient(
		45deg,
		#606dbc,
		#606dbc 10px,
		#5662a8 10px,
		#5662a8 20px
	);
	background-size: 140px 140px;
}

mg-form-editor .mgFormEditor-mask > .mgFormEditor-mask-buttons {
	position: absolute;
	top: calc(50% - 16px);
	left: 10px;
}

mg-form-editor .mgFormEditor-mask > .mgFormEditor-mask-buttons > a {
	padding: 8px 12px !important;
}

mg-form-editor .mgFormEditor-mask > .mgFormEditor-mask-buttons .mgFormEditor-mask-handle {
	cursor: move;
}

mg-form-editor .mgFormEditor-mask > .mgFormEditor-mask-buttons .dropdown-menu a {
	padding: 3px 10px;
}
/* }}} */
