mg-placeholder > div {
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 5px;
}

/* Style: placeholder-box {{{ */
mg-placeholder > .placeholder-box {
	border: 1px solid #000;
	background:
		linear-gradient(to top left,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0) calc(50% - 1px),
			rgba(0,0,0,1) 50%,
			rgba(0,0,0,0) calc(50% + 1px),
			rgba(0,0,0,0) 100%),
		linear-gradient(to top right,
			rgba(0,0,0,0) 0%,
			rgba(0,0,0,0) calc(50% - 1px),
			rgba(0,0,0,1) 50%,
			rgba(0,0,0,0) calc(50% + 1px),
			rgba(0,0,0,0) 100%);
}

mg-placeholder > .placeholder-box > .placeholder-text {
	background: #FFF;
	border: 1px solid #000;
	padding: 10px 15px;
}
/* }}} */

/* Style: placeholder-construction {{{ */
mg-placeholder > .placeholder-construction {
	background: repeating-linear-gradient(45deg, #dfc458, #dfc458 10px, #666 10px, #666 20px);
}

mg-placeholder > .placeholder-construction > .placeholder-text {
	font-size: 24pt;
	color: #FFF;
	text-shadow: -2px -2px 1px #000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000;
}
/* }}} */
